body, html {
  font-family: 'Inconsolata', san-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rb-link-group {
  grid-template-columns: 1fr 1fr 1fr;
}     

  
