<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:rakshith_bellare@outlook.com">email</a></li>
	        		<li><a href="https://github.com/RakshithNM">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>

